<div [classList]="'jacket module'">

  <div [classList]="'antenna'">
    <p [classList]="'antenna__paragraph'">Loading...</p>
  </div>

  <ng-template [ngIf]="( currentFunctionality === 'showTable' )">
    <div [classList]="'jacket__tableContainer'">
      <table [classList]="'jacket__table table table-stripped table-bordered table-sm row-border hover'" datatable [dtOptions]="dtOptions" >
        <thead [classList]="'thead'">
        <tr>
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <th [classList]="'jacket__table--checkBox'"><input type="checkbox"></th>
          </ng-template>
          <th>Jacket No.</th>
          <th>Rf ID 1</th>
          <th>Rf ID 2</th>
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <th>Action</th>
          </ng-template>
        </tr>
        </thead>
        <tbody [classList]="'tbody'">
        <tr *ngFor="let j of jacketList;index as i;">
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <td [classList]="'jacket__table--checkBox'"><input type="checkbox"></td>
          </ng-template>
          <td>{{j.id}}</td>
          <td>{{j.rfId1}}</td>
          <td>{{j.rfId2}}</td>
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <td [classList]="'jacket__table--actionContainerTd width'">
              <div [classList]="'jacket__table--actionContainer'">
                <div [classList]="'jacket__table--actionBox'">
                  <svg>
                    <use href="assets/edit.svg#Layer_1"></use>
                  </svg>
                  <p>Edit</p>
                </div>
              </div>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>

  </ng-template>

  <ng-template [ngIf]="( currentFunctionality === 'addJacket' && userType !== 'u' )">
      <form [classList]="'jacket__form'">
        <div [classList]="'jacket__form--container'">
          <div [classList]="'jacket__form--subContainer'">
            <div [classList]="'jacket__form--textBox disabled'">
              <p [classList]="'jacket__form--textTitle'">
                Jacket No
              </p>
              <input type="text" [classList]="'jacket__form--text add'" #jacketNo disabled>
            </div>
            <div [classList]="'jacket__form--textBox'">
              <p [classList]="'jacket__form--textTitle'">
                Rf ID 1
              </p>
              <input type="text" [classList]="'jacket__form--text add'" #addRfId1>
            </div>
            <div [classList]="'jacket__form--textBox'">
              <p [classList]="'jacket__form--textTitle'">
                Rf ID 2
              </p>
              <input type="text" [classList]="'jacket__form--text add'" #addRfId2>
            </div>
            <div [classList]="'jacket__form--buttons'">
              <button [classList]="'jacket__form--button button'" type="submit" (click)="addJacket($event, addRfId1.value, addRfId2.value)">Submit</button>
              <button [classList]="'jacket__form--button button antennaRead'" style="background-color: orangered;" (click)="readFromAntenna()">
                Read Antenna
              </button>
            </div>
          </div>
        </div>
      </form>
  </ng-template>

  <ng-template [ngIf]="( currentFunctionality === 'verifyJacket' )">
    <form [classList]="'jacket__form'">
      <div [classList]="'jacket__form--container'">
        <div [classList]="'jacket__form--subContainer'">
          <div [classList]="'jacket__form--textBox'">
            <p [classList]="'jacket__form--textTitle'">
              Jacket No.
            </p>
            <input type="text" [classList]="'jacket__form--text edit'" disabled>
          </div>
          <div [classList]="'jacket__form--textBox'">
            <p [classList]="'jacket__form--textTitle'">
              Rf ID 1
            </p>
            <input type="text" [classList]="'jacket__form--text edit'" disabled>
          </div>
          <div [classList]="'jacket__form--textBox'">
            <p [classList]="'jacket__form--textTitle'">
              Rf ID 2
            </p>
            <input type="text" [classList]="'jacket__form--text edit'" disabled>
          </div>
          <div [classList]="'jacket__form--buttons'">
            <button [classList]="'jacket__form--button button'" type="submit" (click)="verifyJacket($event)">Verify</button>
          </div>
        </div>
      </div>
    </form>
  </ng-template>

</div>
