<div [classList]="'configuration module'">

  <ng-template [ngIf]="( currentFunctionality === 'showTable' )">
    <div [classList]="'configuration__tableContainer'">
      <table [classList]="'configuration__table table table-stripped table-bordered table-sm row-border hover'" datatable [dtOptions]="dtOptions" >
        <thead [classList]="'thead'">
        <tr>
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <th [classList]="'configuration__table--checkBox'" style="width: 1%"><input type="checkbox"></th>
          </ng-template>
          <th>Property</th>
          <th>Type Value</th>
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <th>Action</th>
          </ng-template>
        </tr>
        </thead>
        <tbody [classList]="'tbody'">
        <tr *ngFor="let u of configurationsList;index as i;">
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <td [classList]="'configuration__table--checkBox'"><input type="checkbox"></td>
          </ng-template>
          <td>{{u.name}}</td>
          <td>{{u.configurationName}}</td>
          <ng-template [ngIf]="( developmentMode !== 'test' )">
            <td [classList]="'configuration__table--actionContainerTd width'">
              <div [classList]="'configuration__table--actionContainer'">
                <div [classList]="'configuration__table--actionBox'">
                  <svg>
                    <use href="assets/edit.svg#Layer_1"></use>
                  </svg>
                  <p>Edit</p>
                </div>
              </div>
            </td>
          </ng-template>
        </tr>
        </tbody>
      </table>
    </div>

  </ng-template>

  <ng-template [ngIf]="( currentFunctionality === 'addConfiguration' && userType !== 'u' )">
    <form [classList]="'configuration__form'">
      <div [classList]="'configuration__form--container'">
        <h1 [classList]="'configuration__form--heading'">
          Add configuration
        </h1>
        <p [classList]="'configuration__form--title'">
          Property
        </p>
        <input type="text" [classList]="'configuration__form--text property'" placeholder="Enter Property Name">
        <p [classList]="'configuration__form--title'">
          Type Value
        </p>
        <input type="text" [classList]="'configuration__form--text typeName'" placeholder="Enter Type Value">
        <div [classList]="'configuration__form--buttonBox'">
          <button type="submit" [classList]="'configuration__form--button button'">Submit</button>
        </div>
      </div>
    </form>
  </ng-template>

</div>

