<ng-template [ngIf]="( currentScreen === 'login' )">
  <app-login (tokenEvent)="getTokenFromLoginScreen($event)"></app-login>
</ng-template>

<ng-template [ngIf]="( currentScreen === 'dashboard' )">
  <header [classList]="'header'">
    <div [classList]="'header__imageBox'">
      <img src="assets/uk-police-logo.jpg" [classList]="'header__imageBox--logo'">
    </div>
    <div [classList]="'header__userBox'" (click)="isAccountDropdown = !isAccountDropdown">
      <div [classList]="'header__userBox--imageBox'">
        <img src="assets/face.jpg" [classList]="'header__userBox--image'">
      </div>
      <p [classList]="'header__userBox--userName'">{{userName}}</p>
      <img [classList]="'header__userBox--svg'" src="assets/create_ac_dropdown_png.png">
    </div>
  </header>
  <div [classList]="'container'" (click)="isAccountDropdown = false">
    <!-- ###########################      SIDEBAR        ######################################### -->
    <section [classList]="'sidebar'">
      <p [classList]="'sidebar__heading'"></p>
      <div [classList]="'sidebar__module firstChild select'" (click)="changeModule( 'dashboard', 'dashboard', -1 )">
        <svg [classList]="'sidebar__module--svg'">
          <use href="assets/dashboard.svg#Layer_1"></use>
        </svg>
        <p>Dashboard</p>
      </div>

      <ng-template [ngIf]="( userType !== 'u' )">
        <div [classList]="'sidebar__module'" (click)="showDropdown('user')">
          <svg [classList]="'sidebar__module--svg'">
            <use href="assets/user.svg#Layer_1"></use>
          </svg>
          <p>User</p>
          <img src="assets/create_ac_dropdown_png.png" [classList]="'dropdown'">
        </div>
      </ng-template>

      <ng-template [ngIf]="( userType !== 'u' )">
        <div [classList]="'sidebar__moduleDropdown'">
          <p [classList]="'sidebar__moduleDropdown--func'" (click)="changeModule( 'user', 'showTable',0 )">Show Users</p>
          <p [classList]="'sidebar__moduleDropdown--func'" (click)="changeModule( 'user', 'addUser',1 )">Add User</p>
        </div>
      </ng-template>

      <ng-template [ngIf]="( userType !== 'u' )">
        <div [classList]="'sidebar__module'" (click)="showDropdown('configuration')">
          <svg [classList]="'sidebar__module--svg'">
            <use href="assets/configuration.svg#Layer_1"></use>
          </svg>
          <p>Configuration</p>
          <img src="assets/create_ac_dropdown_png.png" [classList]="'dropdown'">
        </div>
      </ng-template>

      <ng-template [ngIf]="( userType !== 'u' )">
        <div [classList]="'sidebar__moduleDropdown'">
          <p [classList]="'sidebar__moduleDropdown--func'" (click)="changeModule( 'configuration', 'showTable',2 )">Show Configurations</p>
          <p [classList]="'sidebar__moduleDropdown--func'" (click)="changeModule( 'configuration', 'addConfiguration',3 )">Add Configuration</p>
        </div>
      </ng-template>

      <div [classList]="'sidebar__module'" (click)="showDropdown('jacket')">
        <svg [classList]="'sidebar__module--svg'">
          <use href="assets/jacket.svg#Layer_1"></use>
        </svg>
        <p>Jacket</p>
        <img src="assets/create_ac_dropdown_png.png" [classList]="'dropdown'">
      </div>
      <div [classList]="'sidebar__moduleDropdown'">
        <ng-template [ngIf]="( userType !== 'u' )">
          <p [classList]="'sidebar__moduleDropdown--func'" (click)="changeModule( 'jacket', 'showTable',4 )">Show Jackets</p>
          <p [classList]="'sidebar__moduleDropdown--func'" (click)="changeModule( 'jacket', 'addJacket',5 )">Add Jacket</p>
        </ng-template>
        <p [classList]="'sidebar__moduleDropdown--func'" (click)="changeModule( 'jacket', 'verifyJacket',6 )">Verify Jacket</p>
      </div>
    </section>
    <!-- ###########################      MODULE        ######################################### -->
    <section [classList]="'moduleContainer'">
      <ng-template [ngIf]="( currentModule === 'dashboard' )">
        <app-dashboard [userType]="userType"></app-dashboard>
      </ng-template>
      <ng-template [ngIf]="( currentModule === 'user' )">
        <app-user [userType]="userType" [usersList]="usersList" [token]="token" [developmentMode]="developmentMode" (appEmitter)="userChildEmitter()"></app-user>
      </ng-template>
      <ng-template [ngIf]="( currentModule === 'configuration' )">
        <app-configuration [userType]="userType" [configurationList]="configurationList" (appEmitter)="configurationChildEmitter()" [developmentMode]="developmentMode"></app-configuration>
      </ng-template>
      <ng-template [ngIf]="( currentModule === 'jacket' )">
        <app-jacket [userType]="userType" [jacketList]="jacketsList" (appEmitter)="getJacketsAll()" [developmentMode]="developmentMode"></app-jacket>
      </ng-template>
    </section>
  </div>

  <ng-template [ngIf]="(isAccountDropdown)">
    <div [classList]="'accountDropdown'">
      <p [classList]="'accountDropdown__paragraph'" (click)="logout()">Logout</p>
    </div>
  </ng-template>

</ng-template>
