.header{
  width: 100%;
  position: relative;
  height: 7vh;
  background-color: #004F87;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__imageBox{
    height: 7vh;
    width: 7vh;
    margin-right: auto;
    margin-left: 1vw;

    display: flex;
    align-items: center;
    justify-content: center;
    &--logo{
      height: 100%;
      width: 100%;
      object-position: center center;
      object-fit: contain;
    }
  }

  &__userBox{
    margin-right: 2vw;
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    padding: 0 1vw;
    cursor: pointer;
    &--imageBox{
      height: 6vh;
      width: 6vh;
      border-radius: 6vh;
      overflow: hidden;
      margin-right: 1vw;
    }
    &--image{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    &--userName{
      font-size: 1.2vw;
      margin-bottom: 0;
      color: #fff;
      font-weight: bold;
    }
    &--svg{
      height: 1vw;
      width: 1vw;
      margin-left: 1vw;
      object-fit: contain;
      transform: rotateZ(90deg);
      background-color: #fff;
      border-radius: .3vw;
    }
  }
}

.container{
  height: 93vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15vw 1fr;
  padding: 0 !important;
  margin: 0 !important;
  max-width: unset;
}

.sidebar{
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 0 0.5vw #00000030;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading{
    width: 100%;
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 300;
    padding: .5vw;
    margin-bottom: 0;
  }

  &__module{
    width: 100%;
    padding: .3vw 1vw;
    padding-left: .5vw;
    display: flex;
    align-items: center;
    transition: .3s;
    cursor: pointer;
    border-top: 0vw solid #004F87;

    &.firstChild{
      border-top: 0vw solid transparent !important;
    }

    &.select,&:hover{
      width: 100%;
      border-top: 0vw solid #004F87;
      background-color: #004F87;

      & p{
        color: #fff;
      }

      & + .sidebar__module{
        border-top: 0vw solid transparent;
      }

      & .dropdown{
        background-color: #fff;
        border-radius: .3vw;
      }
    }

    &.select .dropdown{
      transform: rotateZ(90deg);
    }
    &--svg{
      height: 2vw;
      width: 2vw;
      margin-right: 0.5vw;
    }
    & p{
      font-size: 1.2vw;
      color: #1A5072;
      margin-bottom: 0;
      width: calc( 100% - 4vw );
    }
    & .dropdown{
      height: 1vw;
      width: 1vw;
      margin-left: .5vw;
      transition: .3s;
    }
  }

  &__moduleDropdown{
    width: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 0;
    transition: .3s;
    &--func{
      margin: 0;
      padding: .5vw;
      padding-left: 3.5vw;
      font-size: 1vw;
      font-weight: 500;
      transition: .3s;
      cursor: pointer;
      color: #1A5072;
      &:hover,&.select{
        background-color: #7a89b3;
        color: #fff;
      }
    }
  }

}

.moduleContainer{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  background-size:100% 100%;
  -o-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
}

.accountDropdown{
  position: absolute;
  top: 7vh;
  right: 3vw;
  width: 10vw;
  background-color: #7a89b3;
  z-index: 10;
  &__paragraph{
    padding: .5vw 1.5vw;
    cursor: pointer;
    font-size: 1.2vw;
    color: #fff;
  }
}
