<div [classList]="'user module'">

  <ng-template [ngIf]="( currentFunctionality === 'showTable' )">
    <header [classList]="'user__header'">
      <button [classList]="'user__header--button delete'" (click)="deleteSelectedUser()">Delete Users</button>
      <button [classList]="'user__header--button'" (click)="changeFunctionality('addUser')">Add new user</button>
      <div [classList]="'user__header--searchBox'">
        <input type="text" [classList]="'user__header--searchTextBox'" placeholder="Search here">
        <svg [classList]="'user__header--searchIcon'">
          <use href="assets/search.svg#Layer_1"></use>
        </svg>
      </div>
    </header>

    <div [classList]="'user__tableContainer'">

      <table [classList]="'user__table'">
        <thead>
        <tr>
          <td [classList]="'user__table--checkBoxTd'"><input type="checkbox" [classList]="'user__table--checkBox'" (click)="checkAllCheckbox()"></td>
          <td>Name</td>
          <td>Username</td>
          <td>Email</td>
          <ng-template [ngIf]="(userType === 'sa' || userType === 'a')">
            <td>Action</td>
          </ng-template>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let u of usersList[currentPageIndex];index as i;">
            <ng-template [ngIf]="(userType === 'sa' || userType === 'a')">
              <td [classList]="'user__table--checkBoxTd'"><input type="checkbox" [classList]="'user__table--checkBox user'" (click)="uncheckParentCheckbox(i)"></td>
            </ng-template>
            <td><input type="text" disabled [classList]="'name'" value="{{u.name}}"></td>
            <td><input type="text" disabled [classList]="'username'" value="{{u.userName}}"></td>
            <td><input type="email" disabled [classList]="'email'" value="{{u.email}}"></td>
            <ng-template [ngIf]="(userType === 'sa' || userType === 'a')">
              <td>
                <div [classList]="'user__table--actionContainer'">
                  <div [classList]="'user__table--functionBox'">
                    <svg [classList]="'user__table--svg'">
                      <use href="assets/edit.svg#Layer_1"></use>
                    </svg>
                    <p>Edt</p>
                  </div>
                  <div [classList]="'user__table--functionBox'" (click)="deleteUser(i)">
                    <svg [classList]="'user__table--svg'">
                      <use href="assets/delete.svg#Layer_1"></use>
                    </svg>
                    <p>Dlt</p>
                  </div>
                </div>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>

      <footer [classList]="'user__tableContainer--footer'">
        <div [classList]="'user__tableContainer--footerPageDescBox'">
          <p [classList]="'user__tableContainer--footerPageDesc'">
            Showing <span>{{fromIndex}}</span> to <span>{{toIndex}}</span> of <span>{{totalIndex}}</span> entries
          </p>
        </div>
        <div [classList]="'user__tableContainer--footerPageIndexing'">
          <p [classList]="'user__tableContainer--footerPageTab'" (click)="changeTable( currentPageIndex - 1 )">prev</p>
          <div [classList]="'user__tableContainer--footerPageIndexes'" *ngFor="let index of pageIndexes;">
            <p [classList]="'user__tableContainer--footerPageTab'" (click)="changeTable(index)">{{ index }}</p>
          </div>
          <p [classList]="'user__tableContainer--footerPageTab'" (click)="changeTable( currentPageIndex + 1 )">next</p>
        </div>
      </footer>

    </div>

  </ng-template>

  <ng-template [ngIf]="( currentFunctionality === 'addUser' && userType !== 'u' )">
    <form [classList]="'user__form'">
      <header [classList]="'user__form--header'">
        <div [classList]="'user__form--headerCreateBox'">
          <p [classList]="'user__form--headerParagraph'">Create Account</p>
          <!--<img src="assets/create_ac_dropdown.svg" [classList]="'user__form--headerImage'"> -->
        </div>
        <!--
        <div [classList]="'user__form--headerSelectUserBox select'">
          <div [classList]="'user__form--headerUserBox'">
            <img [classList]="'user__form--headerUserIcon'" src="assets/user_ac.svg">
            <p [classList]="'user__form--headerUsertype'">User Account</p>
          </div>
          <ng-template [ngIf]="( userType === 'sa' )">
            <div [classList]="'user__form--headerUserBox'">
              <img [classList]="'user__form--headerUserIcon'" src="assets/admin_ac.svg">
              <p [classList]="'user__form--headerUsertype'">Admin Account</p>
            </div>
          </ng-template>
        </div>
        -->
      </header>

      <p [classList]="'user__form--title'">Name</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/name.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="text" [classList]="'user__form--input'" placeholder="Enter your name" #name required>
      </div>

      <p [classList]="'user__form--title'">Username</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/username.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="text" [classList]="'user__form--input'" placeholder="Enter username" #userName required>
      </div>

      <p [classList]="'user__form--title'">Email</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/email.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="email" [classList]="'user__form--input'" placeholder="Enter your email" #email required>
      </div>

      <p [classList]="'user__form--title'">Password</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/password.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="password" [classList]="'user__form--input'" placeholder="Enter password" #password required>
      </div>

      <p [classList]="'user__form--title'">Confirm Password</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/re_enter_pwd.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="password" [classList]="'user__form--input'" placeholder="Confirm password" #confirmPassword required>
      </div>

      <p [classList]="'user__form--title'">Role</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/role.svg" [classList]="'user__form--inputImage'">
        </div>
        <select [classList]="'user__form--selectBox'" #role>
          <option value="sa">Super Admin</option>
          <option value="a">Admin</option>
          <option value="a">User</option>
        </select>
      </div>

      <div [classList]="'user__form--buttonBox'">
        <button type="submit" [classList]="'user__form--button'" (click)="createAccount($event, name.value, userName.value, email.value, password.value, confirmPassword.value, role.value)">Register</button>
        <button type="submit" [classList]="'user__form--button'" (click)="changeFunctionality('showTable')">Cancel</button>
      </div>

    </form>
  </ng-template>

</div>
