<div [classList]="'user module'">

  <ng-template [ngIf]="( currentFunctionality === 'showTable' && userType !== 'u' )">
    <div [classList]="'user__tableContainer'">

      <table [classList]="'user__table table table-stripped table-bordered table-sm row-border hover'" datatable [dtOptions]="dtOptions" >
        <thead [classList]="'thead'">
          <tr>
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <th [classList]="'user__table--checkBox'"><input type="checkbox"></th>
            </ng-template>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <th>Action</th>
            </ng-template>
          </tr>
        </thead>
        <tbody [classList]="'tbody'">
          <tr *ngFor="let u of usersList;index as i;">
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <td [classList]="'user__table--checkBox'"><input type="checkbox"></td>
            </ng-template>
            <td>{{u.name}}</td>
            <td>{{u.userName}}</td>
            <td>{{u.email}}</td>
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <td [classList]="'user__table--actionContainerTd width'">
                <div [classList]="'user__table--actionContainer'">
                  <div [classList]="'user__table--actionBox'">
                    <svg>
                      <use href="assets/edit.svg#Layer_1"></use>
                    </svg>
                    <p>Edt</p>
                  </div>
                  <div [classList]="'user__table--actionBox'">
                    <svg>
                      <use href="assets/delete.svg#Layer_1"></use>
                    </svg>
                    <p>Dlt</p>
                  </div>
                </div>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>

    </div>

  </ng-template>

  <ng-template [ngIf]="( currentFunctionality === 'addUser' && userType !== 'u' )">
    <form [classList]="'user__form'">
      <header [classList]="'user__form--header'">
        <div [classList]="'user__form--headerCreateBox'">
          <p [classList]="'user__form--headerParagraph'">Create User</p>
          <!--<img src="assets/create_ac_dropdown.svg" [classList]="'user__form--headerImage'"> -->
        </div>
        <!--
        <div [classList]="'user__form--headerSelectUserBox select'">
          <div [classList]="'user__form--headerUserBox'">
            <img [classList]="'user__form--headerUserIcon'" src="assets/user_ac.svg">
            <p [classList]="'user__form--headerUsertype'">User Account</p>
          </div>
          <ng-template [ngIf]="( userType === 'sa' )">
            <div [classList]="'user__form--headerUserBox'">
              <img [classList]="'user__form--headerUserIcon'" src="assets/admin_ac.svg">
              <p [classList]="'user__form--headerUsertype'">Admin Account</p>
            </div>
          </ng-template>
        </div>
        -->
      </header>

      <p [classList]="'user__form--title'">Name</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/name.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="text" [classList]="'user__form--input'" placeholder="Enter your name" #name required>
      </div>

      <p [classList]="'user__form--title'">Username</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/username.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="text" [classList]="'user__form--input'" placeholder="Enter username" #userName required>
      </div>

      <p [classList]="'user__form--title'">Email</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/email.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="email" [classList]="'user__form--input'" placeholder="Enter your email" #email required>
      </div>

      <p [classList]="'user__form--title'">Password</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/password.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="password" [classList]="'user__form--input'" placeholder="Enter password" #password required>
      </div>

      <p [classList]="'user__form--title'">Confirm Password</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/re_enter_pwd.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="password" [classList]="'user__form--input'" placeholder="Confirm password" #confirmPassword required>
      </div>

      <p [classList]="'user__form--title'">Role</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/role.svg" [classList]="'user__form--inputImage'">
        </div>
        <select [classList]="'user__form--selectBox'" #role>
          <option value="sa">Super Admin</option>
          <option value="a">Admin</option>
          <option value="a">User</option>
        </select>
      </div>

      <div [classList]="'user__form--buttonBox'">
        <button type="submit" [classList]="'user__form--button'" (click)="createAccount($event, name.value, userName.value, email.value, password.value, confirmPassword.value, role.value)">Create</button>
        <button type="submit" [classList]="'user__form--button'" (click)="changeFunctionality('showTable')">Cancel</button>
      </div>

    </form>
  </ng-template>

</div>
