<div [classList]="'user module'">

  <ng-template [ngIf]="( currentFunctionality === 'showTable' && userType !== 'u' )">
    <div [classList]="'user__tableContainer'">

      <table [classList]="'user__table table table-stripped table-bordered table-sm row-border hover'" datatable [dtOptions]="dtOptions" >
        <thead [classList]="'thead'">
          <tr>
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <th [classList]="'user__table--checkBox'"><input type="checkbox"></th>
            </ng-template>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <th>Action</th>
            </ng-template>
          </tr>
        </thead>
        <tbody [classList]="'tbody'">
          <tr *ngFor="let u of usersList;index as i;">
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <td [classList]="'user__table--checkBox'"><input type="checkbox"></td>
            </ng-template>
            <td>{{u.id}}</td>
            <td>{{u.username}}</td>
            <td>{{u.email}}</td>
            <ng-template [ngIf]="( developmentMode !== 'test' )">
              <td [classList]="'user__table--actionContainerTd width'">
                <div [classList]="'user__table--actionContainer'">
                  <div [classList]="'user__table--actionBox'">
                    <svg>
                      <use href="assets/edit.svg#Layer_1"></use>
                    </svg>
                    <p>Edit</p>
                  </div>
                </div>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>

    </div>

  </ng-template>

  <ng-template [ngIf]="( currentFunctionality === 'addUser' && userType !== 'u' )">
    <form [classList]="'user__form'">
      <header [classList]="'user__form--header'">
        <div [classList]="'user__form--headerCreateBox'">
          <p [classList]="'user__form--headerParagraph'">Create User</p>
        </div>
      </header>

      <p [classList]="'user__form--title'">Name</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/name.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="text" [classList]="'user__form--input'" placeholder="Enter your name" #name required>
      </div>

      <p [classList]="'user__form--title'">Username</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/username.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="text" [classList]="'user__form--input'" placeholder="Enter username" #userName required>
      </div>

      <p [classList]="'user__form--title'">Email</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/email.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="email" [classList]="'user__form--input'" placeholder="Enter your email" #email required>
      </div>

      <p [classList]="'user__form--title'">Password</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/password.svg" [classList]="'user__form--inputImage'">
        </div>
        <input type="password" [classList]="'user__form--input'" placeholder="Enter password" #password required>
      </div>

      <p [classList]="'user__form--title'">Role</p>
      <div [classList]="'user__form--inputBox'">
        <div [classList]="'user__form--inputImageBox'">
          <img src="assets/role.svg" [classList]="'user__form--inputImage'">
        </div>
        <select [classList]="'user__form--selectBox'" #role>
          <option value="sa" disabled>Super Admin</option>
          <option value="a">Admin</option>
          <option value="a" disabled>User</option>
        </select>
      </div>

      <div [classList]="'user__form--buttonBox'">
        <button type="submit" [classList]="'user__form--button button'" (click)="createAccount($event, name.value, userName.value, email.value, password.value, role.value)">Create</button>
      </div>

    </form>
  </ng-template>

</div>
